<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div>

<button style="color:darkgoldenrod;" (click)="login()">Login Here</button>

<br>
<br>
<button style="color:darkgoldenrod;" (click)="dashboard()">Dashboard</button>

<router-outlet></router-outlet>
<!--<app-login></app-login>
  <app-dashboard></app-dashnoard>-->

  </div>

  
  
   